app:
  orderCount: 10
server:
  port: 8222
spring:
  datasource:
    url: jdbc:h2:mem:orders_db
    username: sa
    password: welcome
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        
management:
  endpoint:
    health:
      show-details: "ALWAYS"
    circuitbreakers:
      enabled: true 
  endpoints:
    web:
      exposure:
        include: "*" 
  health:
    circuitbreakers:
      enabled: true
    probes:
      enabled: true

resilience4j:
  circuitbreaker:
    circuitBreakerAspectOrder: 1
    instances:
      inventoryservice:
        register-health-indicator: true
        ring-buffer-size-in-closed-state: 5
        ring-buffer-size-in-half-open-state: 3
        wait-duration-in-open-state: 30s
        failure-rate-threshold: 50
        record-exceptions:
          - java.io.IOException
          - java.util.concurrent.TimeoutException
          - org.springframework.web.client.ResourceAccessException
          - java.lang.IllegalStateException
          - org.springframework.web.reactive.function.client.WebClientRequestException
      
        
